<div class="about">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="about-inner">
          <h2>Background Info</h2>
          <p>Multi-criteria decision making (MCDM) is a handy method to apply to many complex decisions. Especially for solving problems that are characterized as a choice among alternatives. It has all the characteristics of a helpful decision support tool which are helping us focus on what is important, logical and consistent, and easy to use.</p>
          <p>Pairwise comparisons(PC) is widely recognized as a useful and effective method for supporting the MCDM process based on subjective judgments. When the relative importance of these items can not be rated directly, the benefit of using it for building a global ranking from binary comparisons become apparent. The consistency-driven pairwise comparisons(CDPC) method is a primary technique for MCDM. It provides an elegant means by comparing, ranking, quantizing and offering methods for the identification and resolution of inconsistencies. It is based on an inconsistency index, Koczkodaj inconsistency indicator, which is proposed and named after prof. W.W. Koczkodaj (in 1993) and its use as a validation technique.</p>
          <p>Hierarchical pairwise comparisons belong to the MCDM. A hierarchical structure reduces complexity (in terms of a number of pairwise comparisons) from $O(n^2)$ to close to $n*log(n)$, which is a major step forward. Users should be prompted to enter entity names and asked to group them in not more than 8.</p>
        </div>
      </div>

    </div>
  </div>
</div>
