<div class="banner">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-4">
        <div class="image">
          <img src="../../../assets/img/image1.gif">
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <div class="title">
          <h2>A simple tool for complex decision making</h2>
          <h6>Base on the consistency-driven pairwise comparisons method (CDPC)</h6>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="home">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="home-inner">
          <h2>Scope</h2>
          <p>Multi-criteria decision making which is a sub-discipline of operations research explicitly evaluates multiple conflicting criteria in decision making. The consistency-driven pairwise comparisons method is a valuable tool for solving multi-criteria decision making problems. It is a powerful inference tool that could be used for knowledge acquisition for the knowledge management system. In fact, pairwise comparisons are basics for practically the entire science and have been used for projects of national importance.</p>

          <h2>Approach</h2>
          <p>This project had implemented an application basing the consistency-driven pairwise comparisons method. This application, RConcluder, is not only a standalone system but also could be used as a supplement of any expert or knowledge management system.</p>

          <h2>Keywords</h2>
          <li class="pt-3">Multi-criteria Decision Making(MCDM)</li>
          <li>Consistency-driven Pairwise comparisons Method</li>
          <li>Inconsistency analysis</li>

          <h2>GitHub</h2>
          <p>Source code is available:</p>
          <ul>
            <li><a href="https://github.com/pathak-gaurav/pairwise-comparision">Backend</a></li>
            <li><a href="https://github.com/pathak-gaurav/pairwise-frontend-ng">Frontend</a> </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
