/* Sticky Footer Classes */

//html,
//body {
//  height: 50%;
//}
//
//#page-content {
//  flex: 1 0 auto;
//}
//
///* Other Classes for Page Styling */
//
//body {
//  background: #007bff;
//  background: linear-gradient(to right, #0062E6, #33AEFF);
//}

footer {
  position: fixed;
  height: 35px;
  bottom: 0;
  width: 100%;
}
